<!DOCTYPE htnl>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Vishwakarma Jayanti</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <style>
        #banner {
      height:360px;
      width:100%;
      object-fit:cover;
      }
      </style>
      
      
      
    </head>  
  <body>
    <div class="container">
      <h1 class='text-center mt-4 mb-4'>Suditi Careers</h1>
      <img class="img-fluid" id="banner" src="https://vishwakarma.rrtiwari.repl.co/static/banner.jpg" height="320" >
      <h2 class='text-center mt-4 mb-4'>About Suditi Group of Institutions</h2>
      <p class="lead">We at Suditi Global Academy, are earnestly committed to the noble pursuit of imparting knowledge and education to its pupils based on values, personality development and character-building. Our Mission is not only to teach our children but to educate them, not to make them learn but to be a learner themselves, not to train them but to develop the capacity for self training. We also generate among students respect for institutions, family and society, the feeling of social cohesion, respect for tradition, belief and practices of other and advancement towards a well-knit society based on values.</p>
      <h2 class='text-center mt-4 mb-4'>Open Positions</h2>
      <p >To-Do Show the Jobs here</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button> 
        <p class='mt-4'>Copyright @SUDITI 2022</p>
      </div>
      
      
      
    </div>
      

    </body>

  
</html>